.nav{
    font-size: 25px;
    padding: 80px;
    background-color: #002;
}

body{

    background-color: #003;
}

#foto{
    margin-top: -240px;
    margin-left: 50px;
    margin-right: 750px;
    border-radius: 50%;
}